{% extends '@Portfolio/layout.html.twig' %}



{% block fos_user_content %}
    <fieldset>
                <h1 class="titleform">Etudes et formations</h1>
                        {% for item in education %}
                    <div class="showblock">
                        <h3>Intitule</h3>
                        {{ item.subjectsStudied }}
                    </div>
                    <div class="showblock">
                        <h3>Institut</h3>
                        {{ item.institute }}
                    </div>
                    <div class="showblock">
                        <h3>Date d'entree</h3>
                        {{ item.dateStart.format('d-m-y') }}
                    </div>
                    <div class="showblock">
                        <h3>Date de fin</h3>
                        {{ item.endDate.format('d-m-y') }}
                    </div>

                    <div class="setDataForm">
                        <a class="bouton" href="{{ path('portfolio_education_create') }}">Ajouter</a>
                        <a class="bouton" href="{{ path('portfolio_education_update', {'educationId' : item.id}) }}">Modifier</a>
                        <a class="bouton" href="{{ path('portfolio_education_delete', {'educationId' : item.id}) }}">Supprimer</a>
                        <a class="bouton" href="{{ path('portfolio_contact_read') }}">Retour</a>
                    </div>
                        {% endfor %}
    </fieldset>
{% endblock %}