{% extends '@Portfolio/layout.html.twig' %}

{% block title %}Connaissances linguistiques{% endblock %}

{% block fos_user_content %}
    <fieldset>
        <div>
            <h1 class="titleform">Etape - 4/6 - Connaissances linguistiques</h1>
                {{ form_start(Linguistic_Type) }}
                <div class="blocform">
                    <div class="item">
                        {{ form_widget(Linguistic_Type.languages) }}
                        {{ form_errors(Linguistic_Type.languages) }}
                    </div>
                </div>
                <hr>
                <div class="blocform">
                    <div class="item">
                        {{ form_widget(Linguistic_Type.level) }}
                        {{ form_errors(Linguistic_Type.level) }}
                    </div>
                </div>
                <hr>
                <div class="item">
                    {{ form_widget(Linguistic_Type.save) }}
                </div>
                {{ form_end(Linguistic_Type) }}
        </div>
    </fieldset>
{% endblock %}